@using News.Models.ViewModels
@model WeatherViewModel

<div class="d-flex">
    @* <img src="/user/img/weather-icon.png" class="img-fluid w-100 me-2" alt=""> *@
    <div class="d-flex align-items-center">
        <strong class="fs-4 text-secondary">@Model.Temperature°C</strong>
        <div class="d-flex flex-column ms-2">
            <span class="text-body">@Model.City,</span>
            <small>
                @Model.CurrentDate.ToString("MMM d, yyyy")
            </small>
        </div>
    </div>
</div>