@model IEnumerable<News.Models.Db.News>

@{
    ViewData["Title"] = "Manage News";
}

<p>
    <a asp-action="Create" class="btn btn-outline-success">Create New</a>
</p>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">News List</h4>
            </div>
            <div class="card-body">
                <div class="">
                    <table id="basic-datatables" class="display table table-striped table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>View Count</th>
                                <th>Status</th>
                                <th>Is Trend</th>
                                <th>Image</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <style>
        td.truncate-title {
            max-width: 300px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer; /* Optional: show a pointer cursor on hover */
        }
    </style>

    <script>
        $(document).ready(function () {
            $('#basic-datatables').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/Admin/News/LoadNewsData",
                    "type": "POST",
                    "dataType": "json"
                },
                "columns": [
                      {
                        "data": "title",
                        "name": "Title",
                        "className": "truncate-title",
                        "render": function(data, type, row) {
                            return `<span title="${data}">${data}</span>`;
                        }
                    },
                    { "data": "viewCount", "name": "ViewCount" },
                    { "data": "status", "name": "Status", "orderable": false },
                    { "data": "isTrend", "name": "IsTrend", "orderable": false },
                    {
                        "data": "imageName", "orderable": false, "searchable": false,
                        "render": function (data) {
                            return data ? `<img src="/images/news/thumb_${data}" style="max-width:150px" />` : "No Image";
                        }
                    },
                    { 
                        "data": "id",
                        "orderable": false,
                        "searchable": false,
                        "render": function (data, type, row) {
                            var editUrl = `/Admin/News/Edit/${data}`;
                            var deleteUrl = `/Admin/News/Delete/${data}`;

                            return `
                                <div class="form-button-action">
                                    <a href="${editUrl}" data-bs-toggle="tooltip" title="Edit" class="btn btn-link btn-primary">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="${deleteUrl}" data-bs-toggle="tooltip" title="Remove" class="btn btn-link btn-danger">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>`;
                        }
                    }
                ]
            });
        });
    </script>
}